RewriteEngine On
RewriteBase /
RedirectMatch 301 ^/auto-hood-branding/[^/]+/?$ /services/auto-hood-branding
RedirectMatch 301 ^/work/?$ /campaigns
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)/$ /$1 [R=301,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.+)$ $1.html [L]
